.clear
{
 clear: both;
}
.container
{
	width:1000px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	background-image:cover;
}
.contact-info
{
  float: left;
  width: 40%;
}
.contact-info li
{
	display: inline-block;
	padding: 0 20px 0 0;
}
.social-links
{
	float: right;
	width: 40%;
}
.social-links li
{
	display: inline-block;
}
body
{
	background-image: cover;
}
