.loremtext
{
	color: #0c2e8a;
	font-weight: 700;
	font-size: 36px;
	font-family: "Raleway",sans-serif;
}
.links
{
	position: absolute;
	top: 5px;
	right: 1px;
	font-size: 15px;
}
.details
{
	font-size: 15px;
	float: left;
	margin-top: 5px;
}
.admincontact
{
	position: absolute;
	right: 10px;
	font-size: 15px;
}
h4
{
	color: #0c2e8a;
	font-size: 40px;
}
span
{
	color: #50d8af;
}
.imagewrapper
{
	position: relative;
	width: 100%;
}
.banner
{
	position: relative;
	width: 100%;
}
.buttons
{
	display: block;
	font-size: 34px;
	margin-bottom: 30px;
	font-weight: 700;
	padding: 0;
}
.textover
{
background:url(backres.jpg);
background-size: cover;
background-position: center;
width: 100%; 	
height: 60vh;
display: flex;
align-items: center;
justify-content: center;
z-index: 10;
margin-bottom: 20px;
}
.card
{
	box-sizing: border-box;
}
.card:hover
{
	-webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        transition: .8s;
}
.columns
{
	margin-bottom: 10px;
}
h1,h2,h3,h4,h5,p
{
	font-family: "Montserrat", sans-serif;
	font-weight: 400px;
}
.col-lg-6
{
	padding: 10px;
}
.cards
{
	padding-bottom: 15px;
}
col-lg-3 col-md-4
{
	float: left;
	padding-left: 0px;
	padding-right: 0px;
}